<div class="depot_form">
<%= form_for(@seller) do |f| %>
  <% if @seller.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@seller.errors.count, "error") %> prohibited this seller from being saved:</h2>

      <ul>
      <% @seller.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
  <legend>Enter Seller Details</legend>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= image_tag(@seller.logo_url) if @seller.user_logo? %> <br>
    <%= f.file_field :user_logo %>
    <%= f.hidden_field :user_logo_cache %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_area :address, rows: 6 %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>

  <p>Please select store location on map</p>
  <div id="mapa"></div>
  <div class="field">
    <%= hidden_field_tag :latitude %>
  </div>
  <div class="field">
    <%= hidden_field_tag :longitude %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
  </fieldset>
<% end %>
</div>
