<h1>Listing sellers</h1>

<table>
  <tbody>
    <% @sellers.each do |seller| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even')%>">
        <td> <%= "logo" %> </td>
        <td class="list_description"> 
          <dl>
            <dt> <%= seller.name %> </dt>
            <dd> <%= seller.address%> </dd>
            <dd> <strong>Tel.: </strong> <%= seller.phone%> </dd>
          </dl>
        </td>
        <td>
          <%= link_to 'Show', seller %><br/>
          <%= link_to 'Edit', edit_seller_path(seller) %><br/>
          <%= link_to 'Remove', seller, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>

    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Seller', new_seller_path %>
