<h2 class="head">Listing sellers</h2>

<%= link_to 'New Seller', new_seller_path, class: 'btn btn-default pull-right' %>

<% @sellers = @sellers.each_slice(3).to_a %>
<% @sellers.each do |seller_list| %>
  <div class="top-box">
    <% seller_list.each do |seller| %>
      <div class="col-sm-4">
        <%= image_tag(seller.logo_url, class: 'list_image') %>
        <dl>
          <dt> <%= link_to seller.name, seller, class: 'btn' %> </dt>
          <dd> <%= seller.address%> </dd>
          <dd> <strong>Tel.: </strong> <%= seller.phone%> </dd>
        </dl>

        <div class="add-margin">
          <%= link_to 'Edit', edit_seller_path(seller), class: 'btn btn-default' %>
          <%= link_to 'Remove', seller, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="clearfix"></div>
<% end %>