<div class="col-sm-6">
  <%= image_tag(@seller.logo_url, class:'logo') %>
</div>

<div class="col-sm-6">
  <h2 class="head">Administrar su negocio</h2>
  <h3 class="m_3"><%= @seller.name %></h3>

  <p>
    <strong class="bold">Direccion:</strong>
    <%= @seller.address %>
  </p>

  <p>
    <strong class="bold">Telefono:</strong>
    <%= @seller.phone %>
  </p>

  <div style="margin: 10px 0 20px;">
    <%= link_to 'Editar Informacion de su Negocio', edit_seller_path(@seller), class: 'btn btn-default' %>
    <%= link_to 'Existencias', stocks_path, class: 'btn btn-default' %>
  </div>

  <p>
    <strong class="bold">Deliveries con nuestras existencias:</strong>
  </p>
  <% if @deliveries.empty? %>
  <p>Nada que mostrar.</p>
  <% else %>
  <table class="table">
    <thead>
      <tr>
        <th>Factura</th>
        <th>Cliente</th>
        <th>Direccion</th>
        <th>Personal</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @deliveries.each do |delivery| %>
        <tr>
          <td><%= delivery.order.invoice %></td>
          <td><%= delivery.order.name %></td>
          <td><%= delivery.order.address %></td>
          <td><%= delivery.user.username %></td>
          <td><%= link_to 'Track', mapa_path(:id => delivery.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>
</div>