<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<td> <%= image_tag(@seller.logo_url, class:'logo') %> </td>

<p>
  <strong>Name:</strong>
  <%= @seller.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @seller.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @seller.phone %>
</p>

<h2>
  <strong>Average rating</strong>
</h2>

<p> <%= @seller.average_rating %> out of 5 </p>

<h2>
  <strong>Seller reviews</strong>
</h2>

<p> Store has <%= @seller.reviews.count %> comments. <%= link_to 'Show all', @seller %> </p>

<% 5.downto(0) do |rating| %>
<% subdiv = reviews_per_rating(@seller.reviews, rating) #on Seller Helper %>  
<p><%= subdiv.count %> reviews rated <%= rating %>. <%= link_to 'Show', seller_path(:id => @seller.id, :display_rating => rating)%></p>
<% end %>

<p>.............................................</p>
<%= paginate @reviews %><br>
<% @reviews.each do |review| %>
   <p><%= review.title %></p>
   <p><%= review.body %></p>
   <p><%= review.user.username %><p>
   <p><%= review.rating %> out of 5</p>
   <p><%= "....." %></p>
<% end %>


<% if current_user %>
<h2>
  <strong>Write your review:</strong>
</h2>

<%= render :partial => 'reviews/form', :locals => { :seller => @seller } %>
<% end %>

<%= link_to 'Back', sellers_path %>
