<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Simple markers</title>
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        width: 500px;
        height: 400px;
      }
    </style>
    <script src="http://maps.googleapis.com/maps/api/js"></script>
  </head>
  <body>
    <div id="map"></div>
    <div id="line_item_list"> 
    <p><strong>Items carried in this delivery:</strong></p>
      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Quantity</th>
            <th>Client</th>
            <th>Client Phone</th>
            <th>Delivery</th>
            <th>Delivery Phone</th>
            <th></th>
          </tr>
        </thead>
      
        <tbody>
          <% @delivery.by_seller(@seller).each do |line_item| %>
            <tr>
              <td><%= line_item.product.title %></td>
              <td><%= line_item.quantity %></td>
              <td><%= line_item.order.user.username %></td>
              <td><%= line_item.order.user.phone %></td>
              <td><%= line_item.order.delivery.user.username %></td>
              <td><%= line_item.order.delivery.user.phone %></td>
              <td></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <script>
var map;

function initialize() {
  var mapCanvas = document.getElementById('map');
  var mapOptions = {
      center: new google.maps.LatLng(18.497254, -69.892279),
      zoom: 14,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
  map = new google.maps.Map(mapCanvas, mapOptions);
}

var id = <%= @delivery.id %>;
var INTERVAL = 5000;

function getMarkers() {
    $.get('/tracking/' + id, {}, function(res,resp) {
        var marker = new google.maps.Marker({
                position: new google.maps.LatLng(res.lat, res.long),
                map:map
            });
        window.setTimeout(getMarkers,INTERVAL);
        moveToLocation(res.lat, res.long);
    }, "json");
}

function moveToLocation(lat, lng){
    var center = new google.maps.LatLng(lat, lng);
    // using global variable:
    map.panTo(center);
}

google.maps.event.addDomListener(window, 'load', initialize);
getMarkers();

</script>
  </body>
</html>