<h2 class="head">Bienvenido</h2>

<h3 class="bold" style="margin-bottom: 10px">Ultimas actividades</h3>
<p>
	Tenemos 
	<span class="text-warning"><%= pluralize(@pending_processing, "order") %></span>
	sin procesar y 
	<span class="text-warning"><%= pluralize(@pending_delivery, "order") %></span> 
	sin enviar.
</p>
<p>
	Tenemos un total de 
	<span class="text-info"><%= pluralize(@customers, "customer") %></span>
	registrados actualmente.
</p>
<p>
	Hay  
	<span class="text-info"><%= pluralize(@sellers, "seller") %></span>
	registrados actualmente.
</p>
<p>
	Hay 
	<span class="text-info"><%= pluralize(@products.count, "product") %></span>
	registrados con 
	<span class="text-success"><%= @products.in_stock.count%></span>
	actualmente disponibles.
</p>