<h1>Listing stocks</h1>

<table>
  <tbody>
    <% @stocks.each do |stock| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even')%>">
        <td> <%= image_tag(stock.product.image_url, class: 'list_image')%> </td>
        <td class="list_description"> 
          <dl>
            <dt> <%= stock.product.title %> </dt>
            <dd> <%= truncate(strip_tags(stock.product.description), length: 80)%> 
            </dd>
            <dd><strong>Model: </strong><%= stock.product.brand.brand_name + " " + stock.product.vehicle_model.model_name + " " + stock.product.vehicle_model.year.to_s %>
            </dd>
            <dd> Seller: <%= stock.seller.name %> </dd>
            <dd> Stock quantity: <%= stock.quantity %> </dd>
          </dl>
        </td>

        <td>
          <%= link_to 'Show', stock %><br/>
          <%= link_to 'Edit', edit_stock_path(stock) %><br/>
          <%= link_to 'Remove', stock, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
        <td>
          <%= "US$" + stock.product.price.to_s %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'Back', manage_seller_path %>