<p> Stocks for <%= @stock.product.description %> </p>
<p> Quantity: <%= @stock.quantity %> </p>
<p> Price: <%= number_to_currency(@stock.price) %> </p>

<%= link_to 'Edit', edit_stock_path(@stock) %> |
<%= link_to 'Back', stocks_path %>
