<h2 class="head">Listing deliveries</h2>

<div class="col-sm-6">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Id</th>
        <th>Delivery User</th>
        <th>Order id</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @deliveries.each do |delivery| %>
        <tr>
          <td><%= delivery.id %></td>
          <td><%= delivery.user.username %></td>
          <td><%= delivery.order.id %></td>
          <td><%= link_to 'Edit', edit_delivery_path(delivery) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
</div>

<div class="clearfix"></div>

<%= link_to 'New Delivery', new_delivery_path, class: 'btn btn-default' %>
