<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @delivery.index %>
</p>

<p>
  <strong>Show:</strong>
  <%= @delivery.show %>
</p>

<%= link_to 'Edit', edit_delivery_path(@delivery) %> |
<%= link_to 'Back', deliveries_path %>
