<div class="cont span_2_of_3">
  <h2 class="head">Novedades</h2>

  <div class="top-box">

  <% @products.each do |p| %>
     <div class="col_1_of_3 span_1_of_3">
         <a href="products/<%= p.id %>"> 
          <div class="inner_content clearfix">
            <div class="product_image">
              <%= image_tag(p.image_url) %>
            </div>

            <!-- <div class="sale-box"><span class="on_sale title_shop">Tipo 1</span></div> -->

            <div class="price">
              <div class="cart-left">
                <p class="title"><%= p.title %></p>
                <div class="price1" style="color:#9C9C9C;">
                  <span ><%= p.description %></span>
                </div>
                <div class="price1" style="color:#9C9C9C;">
                  <span ><b style="color:black;">Model:</b> <%= p.vehicle_model.model_name %></span>
                </div>
                <div class="price1">
                  <h3>
                    <% if p.in_stock? %>
                      <%= "Disponible" %>
                    <% else %>
                      <%= "No Disponible" %>
                    <% end %>
                  </h3>
                </div>
                <div class="price1">
                  <span class="actual">
                    <% if p.in_stock? %>
                      <%= "Desde " + number_to_currency(lowest_priced(p.stocks).price) %>
                    <% end %>
                  </span>
                </div>
              </div>
              <div class="cart-right"> </div>
              <div class="clear"></div>
            </div>
          </div>
        </a>
      </div>
    <% end %>

    <div class="clear"></div>
  </div>
</div>

<!-- <div class="rsidebar span_1_of_left">
  <div class="top-border"> </div>

  <div class="sidebar-bottom">
    <h2 class="m_1"></h2>
    <p class="m_text"></p>
    <div class="subscribe">
     <form>

      <input name="userName" type="text" class="textbox" placeholder="Email">
        <input type="submit" value="Subscribe">
     </form>
    </div>
  </div>
</div>-->
