<!-- <h1>New order</h1> -->
<div class="depot_form">
  <fieldset>
  	<h2 class="head">Confirm your order</h2>
	<div class="confirmation">
    <table class="table">
      <tbody>
      	<%= render(@cart.line_items) %>
        <tr class="total_line">
          <td></td>
          <td></td>
          <td class="highlight-gray">Sub-Total</td>
          <td class="total_cell highlight-gray"><%= number_to_currency(@cart.sub_total) %></td>
        </tr>
        <tr class="total_line">
          <td style="border:none;"></td>
          <td style="border:none;"></td>
          <td class="highlight-gray">ITBIS (18%)</td>
          <td class="total_cell highlight-gray"><%= number_to_currency(@cart.itbis) %></td>
        </tr>
        <tr class="total_line">
          <td style="border:none;"></td>
          <td style="border:none;"></td>
          <td class="highlight-gray">Total</td>
          <td class="total_cell highlight-gray"><%= number_to_currency(@cart.total_price) %></td>
        </tr> 
      </tbody>
    </table>
  	</div>
	<%= render 'form' %>
  </fieldset>
</div>

