<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @order.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @order.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @order.email %>
</p>

<p>
  <strong>Status:</strong>
  <% if @order.delivered %>
    <p>Delivered</p>
  <% else %>
    <p>On the way</p>
  <% end %>
</p>

<p>
  <strong>Items bought:</strong>
</p>

<%= render(@order.line_items) %>
<p></p>
<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
<% if current_user.role == "admin" %>
  <% if !@order.delivery %>
  <p></p>
  <h2><strong>Assign order to delivery</strong></h2>
 
  <%= render :partial => 'deliveries/form', :locals => { :order => @order } %>
 
  <% else %>
  <p></p>
  <p>Delivery is assigned to <%= @order.delivery.user.username %>, Delivery ID: <%= @order.delivery.id%></p>

  <%= link_to 'Reassign', edit_delivery_path(@order.delivery)%>
  <% end %>
<% end %>
