<h2 class="head">Orden <%= @order.invoice %></h2>

<div class="col-sm-6">
  <p>
    <span class="bold">Nombre:</span> 
    <%= @order.name %>
  </p>

  <p>
    <span class="bold">Direccion:</span>
    <%= @order.address %>
  </p>

  <p>
    <span class="bold">Email:</span>
    <%= @order.email %>
  </p>

  <p>
    <span class="bold">Status:</span>
    <% if !@order.processed %>
      Sin procesar.
    <% elsif @order.status == "Incomplete" %>
      No se ha pagado.
    <% elsif @order.delivered %>
      Enviada,
      <% if @order.confirmed%>
       y confirmada por usuario.
      <% else %>
       sin confirmar.
      <% end %>
    <% else %>
      En camino.
    <% end %>
  </p>

  <p>
    <span class="bold">Fecha:</span>
    <%= @order.created_at %>
  </p>

  <p>
    <span class="bold"> Ubicacion para envio:</span>
    <%= @order.location.latitude %>, <%= @order.location.longitude %>
  </p>

  <p>
    <span class="bold">Tracking number:</span>
    <%= @order.invoice %>
  </p>
  <% if !@order.delivered %>
    <input class="btn" style="margin: 10px 0" type="button" id="ETA" value="Get Estimated Delivery Time" onclick="getETA()">
  <% end %>
</div>

<div class="col-sm-6">
  
  <p class="bold">
    Despliegue:
  </p>

  <table class="table table-striped">
    <thead>
      <th></th>
      <th>Producto</th>
      <th>Cantidad</th>
      <th>Precio</th>
    </thead>
    <tbody>
      <%= render(@order.line_items) %>
      <tr>
        <td></td>
        <td></td>
        <td class="highlight-gray">Total (+ITBIS):</td>
        <td class="highlight-gray"><%= number_to_currency(@order.total_price) %></td>
      </tr>
    </tbody>
  </table>
  <p></p>
  <% if current_user.role == "admin" %>
    <% if !@order.processed %>
      <p></p>
      <p class="bold">Procesar orden</p>
      <p><%= @order.confirmed_line_items.count %> de <%= @order.line_items.count %> han sido confirmados por los respectivos comercios. Por lo menos uno debe estar confirmado para procesar.</p>
      <p><%= button_to 'Actualizar', {action: 'show', order_id: @order.id }, { class: 'btn', method: :get, style:"margin: 10px 0" } %> </p>
      <% if @order.partially_confirmed %>
        <%= button_to 'Procesar', {action: "process_order", order_id: @order.id}, { class: 'btn', method: :post, style:"margin: 10px 0" } %>
      <% end %>
      
    <% elsif @order.status == "Incomplete" %>
    <p></p>
      <h2><strong>Procesar orden</strong></h2>
      <p> Orden procesada. Pendiente al pago. </p>
    <% elsif !@order.delivered %>
      <% if !@order.delivery %>
      <p></p>
      <h2><strong>Asignar flete</strong></h2>
   
      <%= render :partial => 'deliveries/form', :locals => { :order => @order } %>
   
      <% else %>
      <p></p>
      <p>El envio esta asignado a <%= @order.delivery.user.username %>, Delivery ID: <%= @order.delivery.id%></p>

      <%= link_to 'Reassign', edit_delivery_path(@order.delivery)%>
      <% end %>
    <% end %>
  <% end %>
    
  <% if current_user.role == "client"  %>
    <% if !@order.processed %>
    <h3> Por favor espere a que se procese su orden. </h3>
    <p><%= button_to 'Update', {action: 'show', order_id: @order.id}, { class: 'btn', method: :get, style:"margin: 10px 0" } %> </p>
    <% elsif @order.status == "Incomplete" %>
    <h3> Complete su pago </h3>
    <%= link_to image_tag("https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"), @order.paypal_url(store_url) %>
    <% elsif @order.delivered and !@order.confirmed?%>
    <div id="ask_confirmation">
    <p> Recibio esta orden correctamente? </p>
    <input type="button" id="confirmation" value="Si" onclick="postTrue()"> |
    <input type="button" id="confirmation" value="No" onclick="postFalse()">
    </div>
    <div id="order_thankyou" style="display: none">
      <p> Gracias por preferirnos! </p>
    </div>
    <div id="order_contact" style="display: none">
      <p> Por favor contactenos para asistirle! </p>
    </div>
    <% end %>
  <br/>
  <% end %>
  <% if @order.delivery %>
    <%= hidden_field_tag :delivery_id, @order.delivery.id %>
  <% else %>
    <%= hidden_field_tag :delivery_id, "-1" %>
  <% end %>

  <% if current_user.role == "seller" or current_user.role == "admin"%>
  <%= link_to 'Piezas confirmadas', confirm_items_orders_url(id: @order.id), class: 'btn btn-default' %>
  <% end %>
</div>
<div class="clearfix"></div>

<script type="text/javascript">
  var id = document.getElementById("delivery_id").value;

  var order_id = <%= @order.id %>

  function getETA(){
    $.get('/delivery_eta/' + id, {}, function(res,resp) {
      if(res.status == "OK"){
        alert(res.eta + " minutes");
      }
      else{
        alert(res.eta);
      }
    });
  }

  function postTrue(){
    var element = document.getElementById("ask_confirmation").style.display='none';
    element = document.getElementById("order_thankyou").style.display='block';
    postConfirm(true);
  }

  function postFalse(){
    var element = document.getElementById("ask_confirmation").style.display='none';
    element = document.getElementById("order_contact").style.display='block';
    postConfirm(false);
  }

  function postConfirm(value){
    $.post('./confirm', {id: order_id, confirm: value}, function(res, resp){
      if(res.success == false){
        alert(res.message)
      }
    }, "json")
  }
</script>
