<h2 class="head"> Su carrito </h2>
<table class="table">
  <thead>
    <th></th>
    <th class="bold">Nombre</th>
    <th class="bold">Suplidor</th>
    <th class="bold">Cantidad</th>
    <th class="bold">Precio</th>
  </thead>
  <tbody>
    <%= render(@cart.line_items) %>

    <tr class="total_line">
      <td></td>
      <td></td>
      <td></td>
      <td class="highlight-gray">Sub-Total</td>
      <td class="total_cell highlight-gray"><%= number_to_currency(@cart.sub_total) %></td>
      <td></td>
    </tr>
    <tr class="total_line">
      <td style="border:none;"></td>
      <td style="border:none;"></td>
      <td style="border:none;"></td>
      <td class="highlight-gray">ITBIS (18%)</td>
      <td class="total_cell highlight-gray"><%= number_to_currency(@cart.itbis) %></td>
      <td style="border:none;"></td>
    </tr>
    <tr class="total_line">
      <td style="border:none;"></td>
      <td style="border:none;"></td>
      <td style="border:none;"></td>
      <td class="highlight-gray">Total</td>
      <td class="total_cell highlight-gray"><%= number_to_currency(@cart.total_price) %></td>
      <td style="border:none;"></td>
    </tr> 
  </tbody>
</table>

<div style="margin-left: 10px" class="pull-right">
  <%= button_to 'Vaciar carrito', @cart, method: :delete, data: {confirm: 'Esta seguro?'}, class: 'btn btn-danger' %>
</div>
<div class="pull-right">
  <%= button_to "Ordenar", new_order_path, method: :get, class: 'btn'%>
</div>