<h2 class="head">Vehiculos registrados</h2>
<% if !@vehicles.empty? %>
<table class="table">
  <thead>
    <tr>
      <th>Numero de Chassis</th>
      <th>Marca</th>
      <th>Modelo</th>
      <th>Año</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vehicles.each do |vehicle| %>
      <tr>
        <td><%= vehicle.chassis_number %></td>
        <td><%= vehicle.brand %></td>
        <td><%= vehicle.model %></td>
        <td><%= vehicle.year %></td>
        <td><%= link_to 'Editar', edit_vehicle_path(vehicle) %></td>
        <td><%= link_to 'Remover', vehicle, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% else %>
<p> Ningun vehiculo ha sido registrado.</p>
<% end %>

<%= link_to 'Registre su vehiculo', new_vehicle_path, class: 'btn btn-default' %>
