<p>
  <strong>Chassis:</strong>
  <%= @vehicle.chassis_number %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @vehicle.brand %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @vehicle.model %>
</p>

<p>
  <strong>Año:</strong>
  <%= @vehicle.year %>
</p>

<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
