<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, rows: 6, class: 'form-control' %>
  </div>
<% if current_user.role == "admin" %>
  <div class="field form-group">
    <%= image_tag(@product.image_url) if @product.user_image? %> <br>
    <%= f.file_field :user_image %>
    <%= f.hidden_field :user_image_cache %>
  </div>
<% else %>
    <div class="field form-group">
    
  </div>
<% end %>
  <div class="field form-group">
    <%= f.label :brand_id %><br>
    <%= f.select :brand_id, get_all_brand_names_ids, {}, {prompt: 'Select brand', class: 'form-control'} %>
  </div>
  <div class="field form-group">
    <%= label_tag :model %><br>
    <select id="model_id" name="model_id" class="form-control" prompt="Select model">
      <option value="not">Select model</option>
      <% models_with_brands = get_all_model_names_with_brand %>
      <%= models_with_brands.each do |model| %>
        <option value="<%=model[0]%>" brand="<%=model[1]%>" style="display:none"><%= model[0] %></option>
      <% end %>
    </select>
  </div>
  <div class="field form-group">
    <%= label_tag :year %><br>
    <%= select_tag :year, options_for_select(model_years), prompt: 'Select year', class: 'form-control'%>
  </div>
  <div class="actions">
    <%= f.submit "Save", class: 'btn' %>
  </div>
<% end %>
