<h2 class="head">Piezas</h2>
<% if current_user.role == "admin" or current_user.role == "seller" %>
  <div class="pull-right">
    <%= link_to 'Nueva Pieza', new_product_path, class: 'btn btn-default' %>
  </div>
<% end %>
<%= render 'searcher' %>

<% if @products.count == 0 %>
  <h3> Nada que mostrar. </h3>
<% else %>

<div class="pull-right">
  <%= paginate @products %>
</div>
<div class="clearfix"></div>

<% first_half = @products.slice(0, @products.length/2) %>
<% second_half = @products.slice(@products.length/2, @products.length) %>

<div class="col-sm-6">
  <table class="table">
    <tbody>
      <% first_half.each do |product| %>
        <tr class="<%= cycle('list_line_odd', 'list_line_even')%>">
          <td> <%= image_tag(product.image_url, class: 'list_image')%> </td>
          <td class="list_description"> 
            <dl>
              <dt> <%= product.title %> </dt>
              <dd> <%= truncate(strip_tags(product.description), length: 80)%> 
              </dd>
              <dd><strong>Modelo: </strong><%= product.brand.brand_name + " " + product.vehicle_model.model_name + " " + product.vehicle_model.year.to_s %>
              </dd>
            </dl>
          </td>

          <td>
            <%= link_to 'Mostrar', product %><br/>
            <% if current_user.role == "admin" %>
            <%= link_to 'Editar', edit_product_path(product) %><br/>
            <%= link_to 'Remover', product, method: :delete, data: { confirm: 'Esta seguro?' } %>
            <% end %>
            <% if current_user.role == "seller" %>
            <br/><%= link_to 'Existencias', mod_stock_path(:seller_id => current_user.seller.id, :product_id => product.id), method: :post %>
            <% end %>
          </td>
          <td>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="col-sm-6">
  <table class="table">
    <tbody>
      <% second_half.each do |product| %>
        <tr class="<%= cycle('list_line_odd', 'list_line_even')%>">
          <td> <%= image_tag(product.image_url, class: 'list_image')%> </td>
          <td class="list_description"> 
            <dl>
              <dt> <%= product.title %> </dt>
              <dd> <%= truncate(strip_tags(product.description), length: 80)%> 
              </dd>
              <dd><strong>Modelo: </strong><%= product.brand.brand_name + " " + product.vehicle_model.model_name + " " + product.vehicle_model.year.to_s %>
              </dd>
            </dl>
          </td>

          <td>
            <%= link_to 'Mostrar', product %><br/>
            <% if current_user.role == "admin" %>
            <%= link_to 'Editar', edit_product_path(product) %><br/>
            <%= link_to 'Remover', product, method: :delete, data: { confirm: 'Esta seguro?' } %>
            <% end %>
            <% if current_user.role == "seller" %>
            <br/><%= link_to 'Existencias', mod_stock_path(:seller_id => current_user.seller.id, :product_id => product.id), method: :post %>
            <% end %>
          </td>
          <td>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="pull-right">
  <%= paginate @products %>
</div>
<div class="clearfix"></div>

<% end %>
<br>
