<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<td> <%= image_tag(@product.image_url, class:'image') %> </td>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @product.brand.brand_name %>
</p>

<p>
  <strong>Model:</strong>
  <%= @product.vehicle_model.model_name + " " + @product.vehicle_model.year.to_s %>
</p>

<% if @product.in_stock? %>
<p>In Stock</p>
<h3>Stores:</h3>
<table>
  <tbody>
    <% @sellers.each do |seller| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even')%>">
        <td> <%= image_tag(seller.logo_url, class: 'list_image') %> </td>
        <td class="list_description"> 
          <dl>
            <dt> <%= seller.name %> </dt>
            <dd> <%= seller.address%> </dd>
            <dd> <strong>Tel.: </strong> <%= seller.phone%> </dd>
          </dl>
        </td>
        <td>
          <% stock = seller.stocks.where(:product_id => @product.id).take %>
          <dt> <strong>Stock:</strong> <%= stock.quantity %> </dt>
          <%= link_to 'Show', seller %><br/>
          <%= button_to 'Add to Cart', line_items_path(product_id: @product, stock_id: stock) %>
        </td>
        <td>
          <%= number_to_currency(stock.price) %>
        </td>

    <% end %>
  </tbody>
</table>

<% else %>
<p>Out of Stock</p>
<% end %>

<p></p>
<% if current_user %>
  <% if current_user.role == "admin"%>
    <%= link_to 'Edit', edit_product_path(@product) %> |
  <% end %>
<% end %>
<%= link_to 'Back', store_path %>
