<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this feedback_review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, size: 80 %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body, rows: 5, cols: 100 %>
  </div>
  <div class="field">
    <%= hidden_field_tag :seller_id, seller.id %>
  </div>
  <div class="field">
    <%= hidden_field_tag :user_id, current_user.id %>
  </div>
  <div class="field">
    <%= f.label :rating %><br>
    <%= f.number_field :rating, min: 0, max: 5 %> | 0 - Awful, 1 - very bad, 2 - bad, 3 - average, 4 - good, 5 - very good
  </div> 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
