<p>
  <strong>Title:</strong>
  <%= @review.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @review.body %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @review.rating %> out of 5
</p>

<p>
  <strong>Date:</strong>
  <%= @review.created_at %>
</p>


<%= link_to 'Edit', edit_review_path(@review) %> 
