<% if line_item == @current_item %>
<tr id="current_item">
<% else %>
<tr>
<%end%>
  <td><%= line_item.quantity %>&times;</td>
  <td><%= link_to line_item.product.title, line_item.product %></td>
  <td class="item_price"><%= number_to_currency(line_item.total_price) %></td>
  <%if controller.controller_name == "carts" %>
  <td>From: <%= link_to line_item.stock.seller.name, line_item.stock.seller %></td>	
  <% end %>
  <% if @order or @delivery %>
  <td></td><br>
  <% else %>
  <td><%= button_to 'X', line_item, method: :delete, data: {confirm: 'Really remove?'} %></td>
  <% end %>
</tr>