<%= form_tag store_path, :method => 'get' do %>
  <p> 
    <%= text_field_tag :search, params[:search] %>
    
    <%= select_tag(:brand_id, options_for_select(get_all_brand_names_ids), prompt: 'Select brand') %>
    
    <select id="model_id" prompt="Select model">
    	<option value="not">Select model</option>
    	<% models_with_brands = get_all_model_names_with_brand %>
    	<%= models_with_brands.each do |model| %>
    		<option value="<%=model[0]%>" brand="<%=model[1]%>" style="display:none"><%= model[0] %></option>
    	<% end %>
    </select>
    
    <%= select_tag :year, options_for_select(model_years), prompt: 'Select year' %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>