<%= form_tag store_path, :id => 'store_form', :method => 'get' do %>
  <div id="qstring" style="width: 14em; display:inline-block">
    <%= text_field_tag :search, params[:search] %>
  </div>

  <div id="query_search" style="display: inline-block;"> 
    
    <%= select_tag(:brand_id, options_for_select(get_all_brand_names_ids), prompt: 'Select brand') %>
    
    <select id="model_id" name="model_id" prompt="Select model">
    	<option value="not">Select model</option>
    	<% models_with_brands = get_all_model_names_with_brand %>
    	<%= models_with_brands.each do |model| %>
    		<option value="<%=model[0]%>" brand="<%=model[1]%>" style="display:none"><%= model[0] %></option>
    	<% end %>
    </select>
    
    <%= select_tag :year, options_for_select(model_years), prompt: 'Select year' %>
    <%= submit_tag "Search", :name => nil %>
    <div style="padding-top: 1em"> </div>
  </div>

  <div id="chassis_search" style="display: none;">
    <%= text_field_tag :vehicle_chassis_number %>
    <input type="button" id="checkVIN" value="Verify Chassis Number" onclick="getVINdata()"> 
    <%= hidden_field_tag :chassis_brand %>
    <%= hidden_field_tag :chassis_model %>
    <%= hidden_field_tag :chassis_year %>
    <%= submit_tag "Search", :name => nil %><br>
    <div id="results-body" style="padding-top: 1em"> </div> 
  </div>
  <div id="please_verify" style="display: none; font-size: 0.8em">
    <label for="checkVIN"> Please verify Chassis number before searching.</label> 
  </div>

  <%if current_user %>
    <%if current_user.role == "client"%>
      <div id="vehicle_search" style="display: none;">
        <%= select_tag :vehicle, options_from_collection_for_select(current_user.vehicles, 'id', 'description'), prompt: 'Select vehicle' %>
        <%= submit_tag "Search", :name => nil %>
        <div style="padding-top: 1em"> </div> 
      </div>
    <% end %>
  <% else %>
    <div id="vehicle_search" style="display: none" ></div>
  <% end %>  

  <div id="search_switches">
  <input type="button" id="byQuery" value="Search Queries" onclick="showQuerySearch()"> |
  <input type="button" id="byChassis" value="Search by Chassis Number" onclick="showChassisSearch()">
  <%if current_user %>
    <%if current_user.role == "client"%>
      | <input type="button" id="byVehicle" value="Search by Registered Vehicles" onclick="showVehicleSearch()">
    <% end %>
  <% end %>
  </div>

  <script>
     var link
     var display = document.getElementById('results-body');
     function getVINdata(){
       var vin = document.getElementById("vehicle_chassis_number").value;
       link = "https://api.edmunds.com/api/vehicle/v2/vins/"+ vin +"?&fmt=json&api_key=cpes64w9wyy4yd8anrvqz74t";
     //  console.log(link);
       getVINJSON();
     }

     function getVINJSON() {
      $.get(link, {}, function(res,resp) {
          display.innerHTML = "Brand: " + res.make.name + "<br>"+ "Model: " + res.model.name +"<br>" + "Year: " + res.years[0].year;
          selectValues(res);
          element = document.getElementById("please_verify");
          element.style.display='none';
      }, "json").fail(function() {
          alert('Error, vehicle model not found.');
          display.innerHTML= ""; 
      });
    }

    function selectValues(jsonres){
      console.log(jsonres.model.name);
      document.getElementById("chassis_brand").value = jsonres.make.name;
      document.getElementById("chassis_model").value = jsonres.model.name;
      document.getElementById("chassis_year").value = jsonres.years[0].year;
    }

    function showChassisSearch(){
      var element = document.getElementById("chassis_search");
      element.style.display='inline-block';
      element = document.getElementById("please_verify");
      element.style.display='inline-block';
      element = document.getElementById("vehicle_search");
      element.style.display='none';
      element = document.getElementById("query_search");
      element.style.display='none';
    }

    function showVehicleSearch(){
      var element = document.getElementById("chassis_search");
      element.style.display='none';
      element = document.getElementById("please_verify");
      element.style.display='none';
      element = document.getElementById("vehicle_search");
      element.style.display='inline-block';
      element = document.getElementById("query_search");
      element.style.display='none';
    }

    function showQuerySearch(){
      var element = document.getElementById("chassis_search");
      element.style.display='none';
      element = document.getElementById("please_verify");
      element.style.display='none';
      element = document.getElementById("vehicle_search");
      element.style.display='none';
      element = document.getElementById("query_search");
      element.style.display='inline-block';
    }

   </script>

<% end %>