<%= form_tag store_path, :method => 'get' do %>
  <p> 
    <%= text_field_tag :search, params[:search] %>
    
    <%= select_tag(:brand_id, options_for_select(get_all_brand_names_ids), prompt: 'Select brand') %>
    
    <%= select_tag(:model_id, options_for_select(get_all_model_names), prompt: 'Select model')%>
    
    <%= select_tag :year, options_for_select(model_years), prompt: 'Select year' %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>