<div class="cont span_2_of_3">
  <h2 class="head">Catalog</h2>
  <% if @products.length < @products.total_count %>
    <!-- <p style="font-size: 0.8em">Showing <%= @products.length %> out of <%= @products.total_count %> results </p> -->
  <% else %>
    <!-- <p style="font-size: 0.8em">Showing <%= @products.length %> results </p> -->
  <% end %>
  <div class="mens-toolbar">
    <!-- <div class="sort-by">
      <label>Sort By</label>
      <select>
        <option value="">Position</option>
        <option value="">Name</option>
        <option value="">Price</option>
      </select>
      <a href=""><img src="images/arrow2.gif" alt="" class="v-middle"></a>
    </div> -->
    <div class="sform">
      <%= render 'form' %>
    </div>
    <div class="clear"></div>
  </div>

  <% pag_prod = @products %>
  <div class="pager">
    <%= paginate pag_prod %>
    <div class="clear"></div>
  </div>

  <% @products = @products.each_slice(3).to_a %>
  <% @products.each do |products_list| %>
    <div class="top-box">
      <% products_list.each do |product| %>
        <div class="col_1_of_3 span_1_of_3">
          <a href="<%= product_path(product.id) %>">
            <div class="inner_content clearfix">
              <div class="product_image">
                <%= image_tag(product.image_url) %>
              </div>
              <div class="sale-box"><span class="on_sale title_shop">
                <% if product.in_stock? %>
                  <p>In Stock</p>
                <% end %>
              </span></div>
              <div class="price">
                <div class="cart-left">
                  <p class="title text-center"><%= link_to product.title, product %></p>

                  <div class="price1" style="color:#9C9C9C;">
                    <span><%= product.description %></span>
                  </div>

                  <div class="price1" style="color:#9C9C9C;">
                    <span ><b style="color:black;">Model:</b> <%= product.brand.brand_name + " " + product.vehicle_model.model_name + " " + product.vehicle_model.year.to_s %></span>
                  </div>

                  <div class="price1">
                    <span class="actual">$<%= lowest_priced(product.stocks).price %></span>
                  </div>

                  <% if current_user %>
                    <%= button_to 'Add to Cart', line_items_path(product_id: product, stock_id: lowest_priced(product.stocks)), class: 'btn btn-primary', style:"margin-top: 10px" %>
                  <% end %>
                </div>
              </div>
            </div>
          </a>
        </div>
      <% end %>
      <div class="clear"></div>
    </div>
  <% end %>

  <div class="pager">
    <%= paginate pag_prod %>
    <div class="clear"></div>
  </div>
</div>

<div class="rsidebar span_1_of_left">
  <h5 class="m_1" style="text-align:center">Promotions</h5>
  <%= image_tag("", width:"100%", height: 400) %>
</div>
