<!-- <h1>Store#index</h1> -->
<!-- <p>Find me in app/views/store/index.html.erb</p> -->
<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<div class="sform">
  <%= render 'form' %>
  <% if @products.length < @products.total_count %>
    <p style="font-size: 0.8em">Showing <%= @products.length %> out of <%= @products.total_count %> results </p>
  <% else %>
    <p style="font-size: 0.8em">Showing <%= @products.length %> results </p>
  <% end %>
</div>
<h1> Catalog </h1>
<% if @products.empty? %>
<h3>No results to show</h3>
<% else %>
<%= paginate @products %>
<% cache ['store', Product.latest] do %>
  <% @products.each do |product| %>
    <% cache ['entry', product] do %>
      <div class="entry">
        <%= image_tag(product.image_url) %>
        <h3><%= link_to product.title, product %></h3>
        <div class="desc">
          <p><%= product.description %></p>
  	      <p><strong>Model: </strong><%= product.brand.brand_name + " " + product.vehicle_model.model_name + " " + product.vehicle_model.year.to_s %></p>
          <% if product.in_stock? %>
            <p>In Stock</p>
          <% else %>
            <p>Out of Stock</p>
          <% end %>
          
        </div>
        <div class="price_line">
          <span class="price">
          <% if product.in_stock? %>
            <%= "From " + number_to_currency(lowest_priced(product.stocks).price) %>
          <% else %>
            <%= "Unavailable" %>
          <% end %>
          </span>
          <% if current_user %>
            <% if current_user.role != "seller" %>
            <%= button_to 'Add to Cart', line_items_path(product_id: product,
           stock_id: lowest_priced(product.stocks)), remote: true, :disabled => !product.in_stock? %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
<%= paginate @products %>
<% end %>