<!DOCTYPE html>
<html>
<head>
  <title>Fast Find Auto Parts</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href='http://fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css'>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <% if controllers_with_maps.include? controller.controller_name %>

  <% end %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
</head>

<body class='<%= controller.controller_name %>' controller="<%= controller.controller_name %>">
<% if current_user %>
  <% session = Session.find %>
  <% user = current_user %>
<% end %>

<!-- HEADER TOP -->
<div class="header-top">
  <div class="wrap">
    <div class="header-top-left">
      <div class="box">
       <!--  <select tabindex="4" class="dropdown">
          <option value="" class="label" value="">Language :</option>
          <option value="1">English</option>
          <option value="2">French</option>
          <option value="3">German</option>
        </select> -->
        <%= link_to 'Inicio', home_path, class: "dropdown" %>
        </div>
        <!-- <div class="box1">
          <select tabindex="4" class="dropdown">
            <option value="" class="label" value="">Currency :</option>
            <option value="1">$ Dollar</option>
            <option value="2">€ Euro</option>
          </select>
        </div> -->
        <div class="clear"></div>
      </div>

      <div class="cssmenu">
        <ul>
          <!--  | -->
          <% if session %>
            <li>Bienvenido, <%= current_user.username %> </li> 
            <li><%= link_to 'Mi cuenta', edit_user_path(:current) %></li> |
            <li><%= link_to 'Salir', logout_path, method: :delete%></li>
          <% else %>
            <li><%= link_to 'Login', login_path, method: :get%></li>
          <% end %>
        </ul>
      </div>
    <div class="clear"></div>
  </div>
</div>

<!-- HEADER BOTTOM -->
<div class="header-bottom">
  <div class="wrap">
    <div class="header-bottom-left">
      <div class="logo">
        <%= link_to image_tag("logo.png"), home_path %> </a>
      </div>
      <div class="menu">
        <ul class="megamenu skyblue">
          <li><%= link_to 'Catalogo', store_path %></a></li>
          <% if session %>
            <li><%= link_to 'Ordenes', orders_path %></li>
            <% if user.role == 'admin' %>
              <li><%= link_to 'Envios', deliveries_path %></li>
              <li><%= link_to 'Productos', products_path %></li>
              <li><%= link_to 'Usuarios', users_path %></li>
              <li><%= link_to 'Comercios', sellers_path %></li>
              <li><%= link_to 'Admin Page', admin_path %></li>
            <% end %>
            <% if user.role == 'seller' %>
              <li><%= link_to 'Productos', products_path %></li>
              <li><%= link_to 'Admin. Comercio', manage_seller_path %></li>
            <% end %>
            <% if user.role == 'client' %>
              <li><%= link_to 'Vehiculos', vehicles_path %></li>
            <% end %>
          <%end%>
        </ul>
      </div>
    </div>

    <div class="header-bottom-right">
      <!-- <div class="search">
        <input type="text" name="s" class="textbox" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
        <input type="submit" value="Subscribe" id="submit" name="submit">
      </div> -->
      <div id="response"> </div>
      <div class="tag-list">
        <span class="active-icon c2"></span>
        <% @cart ? path = cart_path(@cart) : path = "" %>
        <ul class="last"><li><%= link_to "Carrito(#{@cart ? @cart.line_items.count : "0"})", @cart %></a></li></ul>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>

<% if controller.controller_name == "home" %>
  <!-- start slider -->
  <%= image_tag("ban.jpg")%>
  <!--/slider -->
<% end %>

<div class="<%= 'mens' if controller.controller_name != "home"%>">
  <div class="main">
    <div class="wrap">
      <% if notice %>
        <p id="notice" class="bg-info" style="padding: 5px; margin: 10px 0;"><%= notice %></p>
      <% end %>
      <div class="section group">
        <%= yield %>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>


<div class="footer">
  <div class="footer-top">
    <div class="wrap">
      <div class="section group example">
      <div class="col_1_of_2 span_1_of_2">
        <ul class="f-list">
          <li><%= image_tag("2.png")%><span class="f-text">Delivery en la ciudad de Santo Domingo</span><div class="clear"></div></li>
        </ul>
      </div>
      <div class="col_1_of_2 span_1_of_2">
        <ul class="f-list">
          <li><%= image_tag("3.png")%><span class="f-text">Llamenos! 809-685-4708 </span><div class="clear"></div></li>
        </ul>
      </div>
      <div class="clear"></div>
        </div>
    </div>
  </div>
  <div class="footer-middle">
    <div class="wrap">
     <div class="section group example">
      <div class="col_1_of_f_1 span_1_of_f_1">
       <div class="section group example">
         <div class="col_1_of_f_2 span_1_of_f_2">
            
          <div class="like_box">
            <div class="fb-like-box" data-href="http://www.facebook.com/w3layouts" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
          </div>
        </div>
        <div class="col_1_of_f_2 span_1_of_f_2">
      </div>
      <div class="clear"></div>
        </div>
     </div>
     <div class="col_1_of_f_1 span_1_of_f_1">
       <div class="section group example">
       <div class="col_1_of_f_2 span_1_of_f_2">
          <h3>Informacion</h3>
          <ul class="f-list1">
              <li><a href="#">Plataforma dedicada a la  </a></li>
                  <li><a href="#">venta y envio de </a></li>
                  <li><a href="#">piezas de repuesto de vehiculos</a></li>
                   <li><a href="#">a traves de internet. </a></li>
                  <li><a href="#">Con delivery solo para </a></li>
                  <li><a href="#">la ciudad de Santo Domingo</a></li>
              </ul>
       </div>
       <div class="col_1_of_f_2 span_1_of_f_2">
         <h3>Contactos</h3>
          <div class="company_address">
                  <p>Mario J. Lara</p>
                  <p>809-729-1589</p>
                  <p>vizard.fs@gmail.com</p>
              <p>Guelmis M. Edwards</p>
              <p>829-866-6346</p>
            <p>guelmisedwards@gmail.com</p>

           </div>
           <div class="social-media">
               <ul>
                 <!--  <li> <span class="simptip-position-bottom simptip-movable" data-tooltip="Google"><a href="#" target="_blank"> </a></span></li>
                  <li><span class="simptip-position-bottom simptip-movable" data-tooltip="Linked in"><a href="#" target="_blank"> </a> </span></li>
                  <li><span class="simptip-position-bottom simptip-movable" data-tooltip="Rss"><a href="#" target="_blank"> </a></span></li>
                  <li><span class="simptip-position-bottom simptip-movable" data-tooltip="Facebook"><a href="#" target="_blank"> </a></span></li> -->
              </ul>
           </div>
      </div>
      <div class="clear"></div>
      </div>
     </div>
    <div class="clear"></div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="wrap">
            <!--  <div class="copy">
            <p>© 2014 Template by <a href="http://w3layouts.com" target="_blank">w3layouts</a></p>
           </div> -->
      <div class="f-list2">
       <ul>
     <!--    <li class="active"><%= link_to 'About Us', about_path %></li> |
        <li><a href="delivery.html">Delivery & Returns</a></li> |
        <li><a href="delivery.html">Terms & Conditions</a></li> |
        <li><a href="contact.html">Contact Us</a></li> -->
       </ul>
        </div>
        <div class="clear"></div>
        </div>
     </div>
</div>


</body>
</html>
