<!DOCTYPE html>
<html>
<head>
  <title>Fast Find Auto Parts</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
  <div id="banner">
    <%= image_tag("logo.jpg") %>
    <%= @page_title || "Fast Find Auto Parts Catalog" %>
  </div>
  <div id="columns">
    <div id="side">
      <div id="cart">
        <% if @cart %>
          <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
            <%= render @cart %>
          <% end %>
        <% end %>
      </div>
      <ul>
        <li><a href="<%= store_url %>">Home</a></li>
        <!-- <li><a href="http://www.../faq">Questions</a></li> -->
        <!-- <li><a href="http://www.../news">News</a></li> -->
        <!-- <li><a href="http://www.../contact">Contact</a></li> -->
        <li><a href="<%= orders_url %>">Recent Orders</a></li>
        <li><a href="<%= products_url %>">Products</a></li>
        <li><a href="<%= users_url %>">Users</a></li>
        <li><a href="<%= admin_url %>">Admin Page</a></li>
      </ul>
    </div>
    <div id="main">
      <%= yield %>
    </div>
  </div>

</body>
</html>
